{% extends 'main.html' %}

{% block content %}

<head>
    <script src="https://npmcdn.com/moralis@0.0.35/dist/moralis.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<h1>View Certificate</h1>
<div class="d-flex p-2">
    <input type="text" class="form-control" id="input-search" placeholder="Student ID"> 
    <button id="search-button" class="btn btn-dark">Search</button>
</div>
<br>
<br>
<div id="content" class="card-group"></div>
<script>
    let button = document.querySelector('#search-button');
    let input = document.querySelector('#input-search')
    async function getData() {
        getNFTs()
    }
    button.onclick = getData;
    input.addEventListener('keyup', function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            getData();
        }
    })
    Moralis.initialize("SERVER_ID_HERE"); //server id
    Moralis.serverURL = "SERVER_URL_HERE";//server url
    async function getNFTs() {

        var wallet_address = document.getElementById("input-search").value;
        console.log(wallet_address);
        const options = { chain: 'matic', address: wallet_address }
        const nfts = await Moralis.Web3.getNFTs(options);
        console.log(nfts);
        nfts.forEach(function (nft) {
            let url = fixURL(nft.token_uri);

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    try{
                        $("#content").html($("#content").html() + '<div class="card" style="width: 18rem;"><img class="card-img-top"src="' + fixURL2(data.image) + '"><div class="card-body"><h5 class="card-title"><b>' + data.name + '</b></h5><p class="card-text">' + data.description + '</p></div><ul class="list-group list-group-flush"><li class="list-group-item"><b>Name : </b>' + data.properties.student_name + ' </li><li class="list-group-item"><b>CGPA : </b>' + data.properties.cgpa + '</li></ul></div>');
                    }
                    catch(err)
                    {
                        $("#content").html($("#content").html() + data.name +'<br>');
                    }
                });

        })
    }
    function fixURL(url) {
        if (url.startsWith("ipfs")) {
            return "https://ipfs.moralis.io:2053/ipfs/" + url.split("ipfs://ipfs/").slice(-1)[0];
        }
        else {
            return url + "?format=json"
        }
    }
    function fixURL2(url) {
        if (url.startsWith("ipfs")) {
            return "https://ipfs.moralis.io:2053/ipfs/" + url.split("ipfs://").slice(-1)[0];
        }
        else {
            return url;
        }
    }
</script>
{% endblock %}